.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
div{
  float: left;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.items{
  float: left;
  width: calc(25% - 12px);
  border: 1px solid #eae9e9;
  margin: 5px;
  border-radius: 7px;
}
.pagination{
  padding: 2px 4px 2px 4px;
  background: rgb(221, 221, 221);
  margin: 0 2px 0 2px;
  border-radius: 2px;
}
span.items img{
  max-width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
