.App {
  text-align: center;
}
* {

  box-sizing: border-box;
}
html{
  /*background-color: #30B236;*/
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
/*div{*/
  /*float: left;*/
  /*width: 100%;*/
/*}*/

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.product-image img{
    margin: 0 auto;
    display: block;
    /*max-width: 100%;*/
}
.product-image img.blank-image {
    /*max-width: 100px;*/
}

.products{
  min-height: 600px;
  float: left;
  width: calc(25% - 12px);
  margin: 5px;
}

.items img{
    /*max-width: 30px;*/
}
.pagination{
  padding: 2px 4px 2px 4px;
  background: rgb(221, 221, 221);
  margin: 0 2px 0 2px;
  border-radius: 2px;

}
.pagination:hover{
  cursor: pointer;
  background: rgb(188, 188, 188);
}
.paginationNoClick{
  padding: 2px 4px 2px 4px;
  color: rgb(221, 221, 221);
  background: black;
  margin: 0 2px 0 2px;
  border-radius: 2px;
}
span.items img{
  max-width: 100%;
}

.header {
  margin: 0 auto;
  max-width: 600px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
