.App {
  text-align: center;
}
* {

  box-sizing: border-box;
}
html{
  background-color: #30B236;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
div{
  float: left;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.product-image img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
.product-image img.blank-image {
    max-width: 100px;
}

.products{
    padding: 10px;
  min-height: 600px;
  /*float: left;*/
  /*width: calc(25% - 12px);*/
  border: 1px solid whitesmoke;
  /*margin: 5px;*/
  border-radius: 7px;
    background-color: whitesmoke;
}

.items img{
    /*max-width: 30px;*/
}
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FIVE  */
.span_5_of_5 {
  width: 100%;
}
.span_4_of_5 {
  width: 79.68%;
}

.span_3_of_5 {
  width: 59.36%;
}
.span_2_of_5 {
  width: 39.04%;
}
.span_1_of_5 {
  width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}
.pagination{
  padding: 2px 4px 2px 4px;
  background: rgb(221, 221, 221);
  margin: 0 2px 0 2px;
  border-radius: 2px;

}
.pagination:hover{
  cursor: pointer;
  background: rgb(188, 188, 188);
}
.paginationNoClick{
  padding: 2px 4px 2px 4px;
  color: rgb(221, 221, 221);
  background: black;
  margin: 0 2px 0 2px;
  border-radius: 2px;
}
span.items img{
  max-width: 100%;
}

.header {
  margin: 0 auto;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
